:root {
  --brand-color: #2196f3;
  --activr-color: #220086;
}

.social-links__links:hover, .social-links__links:focus, .social-links__links:active {
  background-color: var(--brand-color);
  -webkit-transition-property: fill, background-color, color;
  transition-property: fill, background-color, color;
}

.social-links__links:hover .social-links__icon, .social-links__links:active .social-links__icon, .social-links__links:focus .social-links__icon {
  fill: #ffffff;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.mail-phone a:focus, .mail-phone li:hover a, .nav a:focus, .nav a:active, .nav a:hover {
  fill: var(--brand-color);
  color: var(--brand-color);
  -webkit-transition-property: color;
  transition-property: color;
}

.footer {
  background-color: #2f303a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
    margin: 0px;
  }
}
.footer__address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  font-weight: 400;
  padding: 20px 1px 0px 0px;
  margin: 0px;
  display: block;
  letter-spacing: 0.03em;
}
.footer__social-links {
  color: #fff;
  margin-top: 20px;
}
@media screen and (max-width: 479.98px) {
  .footer__social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 70px;
  }
}
.footer__social-links p {
  width: 200px;
  padding-bottom: 20px;
  margin: 0%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
}
@media screen and (max-width: 479.98px) {
  .footer__social-links p {
    margin-top: 60px;
    text-align: center;
  }
}
.footer__social-links > div > div:nth-child(4) > a {
  margin: 0px;
}
.footer__email {
  color: #fff;
}
@media screen and (max-width: 479.98px) {
  .footer__email {
    margin-top: 60px;
  }
}
.footer__input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  margin-top: 20px;
  color: #fff;
  padding-left: 20px;
  outline: none;
}
.footer__input:focus {
  border: 1px solid white;
}
.footer__email svg {
  margin-left: 24px;
}
@media screen and (max-width: 479.98px) {
  .footer__email form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__email form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 12px;
    margin-left: 69px;
  }
}
.footer__conrainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 479.98px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 60px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 479.98px) {
  .header {
    width: 480px;
    height: 60px;
  }
}
@media screen and (min-width: 480px) {
  .header {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px 93px;
  padding: 0%;
}
.nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  position: relative;
}
.nav li:nth-child(2) {
  padding: 0px 46px 0px;
}
.nav a::before {
  display: none;
  position: absolute;
  top: 45px;
  content: "";
  width: 58px;
  height: 1px;
  border: 2px solid #2196f3;
  border-radius: 2px;
}
.nav a:hover::before, .nav a:active::before, .nav a:focus::before {
  display: block;
}
.nav__agencja-active a {
  color: var(--brand-color);
}
.nav__agencja-active a::after {
  position: absolute;
  top: 45px;
  content: "";
  width: 58px;
  height: 1px;
  border: 2px solid #2196f3;
  border-radius: 2px;
}
.nav__portfolio-active a::after {
  position: absolute;
  top: 45px;
  content: "";
  width: 58px;
  height: 1px;
  border: 2px solid #2196f3;
  border-radius: 2px;
}
.nav__portfolio-active a {
  color: var(--brand-color);
}
.nav-active {
  width: 10px;
  height: 1px;
  border: #2196f3;
  border-radius: 2px;
  position: absolute;
}
@media screen and (max-width: 479.98px) {
  .nav {
    display: none;
  }
}

.mail-phone-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mail-phone--header {
  list-style: none;
  display: block;
}
@media screen and (min-width: 480px) {
  .mail-phone--header {
    margin-left: 101px;
  }
}
@media screen and (min-width: 1200px) {
  .mail-phone--header {
    list-style: none;
    margin-left: 345px;
    padding: 0px;
  }
}
.mail-phone--header a {
  padding-right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #757575;
}
.mail-phone--header p {
  margin: 0px;
}
.mail-phone--header li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 30px;
}
.mail-phone--header li:last-child {
  padding: 0px;
}
.mail-phone--header p:first-child {
  padding-right: 10px;
}
@media screen and (max-width: 479.98px) {
  .mail-phone--header {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .mail-phone--header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .mail-phone--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.pageTitle {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
}
@media screen and (max-width: 479.98px) {
  .pageTitle {
    width: 479px;
  }
}
@media screen and (min-width: 480px) {
  .pageTitle {
    width: 767px;
  }
}
@media screen and (min-width: 1200px) {
  .pageTitle {
    width: 1600px;
    max-width: 1600px;
  }
}
.pageTitle__title {
  color: white;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px auto;
  text-align: center;
}
@media screen and (max-width: 479.98px) {
  .pageTitle__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 480px) {
  .pageTitle__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .pageTitle__title {
    font-size: 44px;
  }
}
@media screen and (max-width: 479.98px) {
  .pageTitle {
    height: 400px;
  }
}
@media screen and (min-width: 480px) {
  .pageTitle {
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .pageTitle {
    height: 600px;
  }
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity, -webkit-transform;
  transition: opacity, -webkit-transform;
  transition: transform, opacity;
  transition: transform, opacity, -webkit-transform;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vw;
  top: 0ch;
  left: 0cm;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  -webkit-transition: opacity, -webkit-transform;
  transition: opacity, -webkit-transform;
  transition: transform, opacity;
  transition: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.modal__okno {
  background-color: white;
  position: fixed;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 40px;
  -webkit-animation: modalAn 250ms;
          animation: modalAn 250ms;
  position: relative;
}
@media screen and (max-width: 479.98px) {
  .modal__okno {
    top: 93px;
    width: 450px;
    height: 650px;
    left: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__okno {
    top: 221px;
    width: 528px;
    height: 581px;
  }
}
.modal__xButton {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  fill: black;
}
.modal__okno textarea {
  resize: none;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
  color: black;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 479.98px) {
  .modal__okno textarea {
    width: 370px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__okno textarea {
    width: 448px;
    height: 120px;
  }
}
.modal__okno textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__okno textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__okno textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__okno textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__okno textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal__okno h4 {
  color: black;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin: 0%;
  padding-bottom: 12px;
  text-align: center;
}
.modal__okno label {
  color: rgb(117, 117, 117);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding-bottom: 4px;
  position: relative;
}
.modal__okno input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
}
.modal__okno input:focus {
  outline: 1px solid var(--brand-color);
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: outline;
  transition-property: outline;
}
.modal__okno div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  padding-top: 24px;
  margin: auto;
}
.modal__okno label:last-child {
  margin: 0%;
  padding: 0%;
}
.modal__okno div input {
  margin: 0px 8px 0px 0px;
  padding: 0px;
  height: 24px;
}
.modal__okno div label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  position: relative;
  padding-left: 39px;
  cursor: pointer;
}
.modal__okno a {
  color: var(--brand-color);
}
.modal__okno form textarea:focus {
  outline: 1px solid var(--brand-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: outline;
  transition-property: outline;
}
.modal__okno div input {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  position: relative;
}
.modal__okno div input:focus {
  outline: none;
}
.modal__okno div label::before {
  content: "";
  display: block;
  position: absolute;
  height: 15px;
  width: 16px;
  border: 2px solid black;
  border-radius: 2px;
  left: -24px;
  top: 4px;
}
.modal__okno div input:checked + label::before {
  background-color: var(--brand-color);
  border: var(--brand-color);
}
.modal__checked {
  position: absolute;
  top: 447px;
  left: 49px;
  pointer-events: none;
}
.modal__email {
  position: absolute;
  top: 265px;
  left: 54px;
}
.modal__email-input:focus + .modal__email {
  fill: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.modal__telefon {
  position: absolute;
  top: 198px;
  left: 55px;
}
.modal__telefon-input:focus + .modal__telefon {
  fill: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.modal__name {
  position: absolute;
}
@media screen and (max-width: 479.98px) {
  .modal__name {
    top: 130px;
    left: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__name {
    top: 107px;
    left: 55px;
  }
}
.modal__name-input:focus + .modal__name {
  fill: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
}

@media screen and (max-width: 479.98px) {
  .article-main {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .article-main {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.article-main ul {
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .article-main__listIcons li:not(:last-child) {
    margin-right: 30px;
    padding: 0px;
  }
}
.article-main__listIcons {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
}
@media screen and (max-width: 479.98px) {
  .article-main__listIcons {
    padding: 0px 15px;
  }
}
@media screen and (min-width: 480px) {
  .article-main__listIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 60px auto 0px;
    padding: 0%;
  }
}
@media screen and (min-width: 1200px) {
  .article-main__listIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0px;
    margin-right: 0px;
    padding: 30px 0px 0px 0px;
    margin: 0px;
  }
}
.article-main__listIcons p {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  padding-bottom: 30px;
  font-weight: 400;
}
@media screen and (min-width: 480px) {
  .article-main__listIcons p {
    padding: 0px;
    margin: 0px auto;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .article-main__listIcons p {
    padding: 0px;
    margin: 0%;
    width: 270px;
  }
}
.article-main__sub-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
}
@media screen and (max-width: 479.98px) {
  .article-main__sub-title {
    text-align: center;
  }
}
.article-main__titlePictures {
  color: #212121;
  font-size: 36px;
  line-height: 1.27;
  font-weight: 700;
  padding: 94px 0px 50px 0px;
  margin: 0%;
  text-align: center;
}
@media screen and (max-width: 479.98px) {
  .article-main__titlePictures {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .article-main__titlePictures {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .article-main__titlePictures {
    display: block;
  }
}
.article-main__pictures {
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 479.98px) {
  .article-main__pictures {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .article-main__pictures {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .article-main__pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.article-main__icons {
  background-color: #f5f4fa;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 479.98px) {
  .article-main__icons {
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 480px) {
  .article-main__icons {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .article-main__icons {
    width: 270px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .article-main__icons:last-child {
    padding: 0%;
    margin: 0%;
  }
}
.article-main__picturesText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 3px;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0;
  right: 0;
  color: #ffffff;
  height: 70px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.article-main__pictures li {
  position: relative;
}

.article-team {
  background-color: #f5f4fa;
}
@media screen and (max-width: 479.98px) {
  .article-team {
    padding: 60px 0px;
    width: 479px;
  }
}
@media screen and (min-width: 480px) {
  .article-team {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .article-team {
    padding: 94px 0px;
    margin: auto;
    width: auto;
  }
}
.article-team__title {
  color: #212121;
  font-weight: 700;
  margin: 0px;
  padding: 0%;
  text-align: center;
}
@media screen and (max-width: 479.98px) {
  .article-team__title {
    font-size: 28px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 480px) {
  .article-team__title {
    font-size: 28px;
    line-height: 1.17;
    margin-top: 45px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .article-team__title {
    font-size: 36px;
    line-height: 1.27;
  }
}
.article-team__person-list li {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 479.98px) {
  .article-team__person-list li {
    margin-top: 30px;
    padding: 0%;
    width: 450px;
    height: 622px;
    position: relative;
  }
}
@media screen and (min-width: 480px) {
  .article-team__person-list li {
    margin-top: 30px;
    width: 450px;
    height: 622px;
  }
}
@media screen and (min-width: 1200px) {
  .article-team__person-list li {
    margin-top: 50px;
    padding: 0px;
    width: 270px;
    height: 428px;
  }
}
@media screen and (min-width: 1200px) {
  .article-team__person-list figure {
    margin: 0px;
  }
}
@media screen and (max-width: 479.98px) {
  .article-team__person-list img {
    width: 450px;
    height: 460px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
}
@media screen and (min-width: 480px) {
  .article-team__person-list img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .article-team__person-list img {
    width: 270px;
    height: 260px;
  }
}
.article-team__person-list {
  list-style: none;
}
@media screen and (max-width: 479.98px) {
  .article-team__person-list {
    padding: 0px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .article-team__person-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px;
    margin: 0px;
  }
}
.article-team__person-list figcaption {
  color: #212121;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  width: 200px;
}
@media screen and (max-width: 479.98px) {
  .article-team__person-list figcaption {
    position: absolute;
    left: 120px;
    top: 490px;
  }
}
@media screen and (min-width: 1200px) {
  .article-team__person-list figcaption {
    padding: 0px;
    margin: 30px auto 0px;
  }
}
.article-team__job {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  display: block;
  padding-top: 10px;
}
@media screen and (min-width: 1200px) {
  .article-team__job {
    display: block;
    padding-top: 10px;
  }
}

.section-clients__companys {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
}
@media screen and (max-width: 479.98px) {
  .section-clients__companys {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 480px) {
  .section-clients__companys {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .section-clients__companys {
    width: 170px;
    height: 92px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section-clients p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 479.98px) {
  .section-clients p {
    padding: 60px 0px 0px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .section-clients p {
    margin: 0%;
    padding: 94px 0px 50px 0px;
  }
}
.section-clients ul {
  list-style: none;
}
@media screen and (max-width: 479.98px) {
  .section-clients ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 60px;
    padding: 0px 15px;
  }
}
@media screen and (min-width: 480px) {
  .section-clients ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: calc(33.3333333333% - 60px);
        flex-basis: calc(33.3333333333% - 60px);
    gap: 30px;
    margin-bottom: 60px;
    padding: 0px 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .section-clients ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0%;
    padding: 0%;
  }
}
@media screen and (min-width: 1200px) {
  .section-clients li {
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .section-clients li:last-child {
    padding: 0%;
  }
}
.section-clients__companys:hover, .section-clients__companys:active, .section-clients__companys:focus {
  border: 1px solid var(--brand-color);
  fill: #2196f3;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
}

.article-portfolio {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 94px 0px;
}
.article-portfolio ul:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.article-portfolio li {
  padding-right: 8px;
  margin-bottom: 20px;
}
.article-portfolio__buttons {
  color: #212121;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  border: white;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  padding: 6px 22px 6px 22px;
}
.article-portfolio__buttons:hover, .article-portfolio__buttons:focus {
  background-color: var(--brand-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, -webkit-box-shadow;
  transition-property: color, -webkit-box-shadow;
  transition-property: color, box-shadow;
  transition-property: color, box-shadow, -webkit-box-shadow;
}
.article-portfolio__buttons:active {
  color: var(--activr-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}
.article-portfolio__pictures figcaption {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 1px;
  display: block;
  padding: 20px 0px 0px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.article-portfolio__pictures figcaption p {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  display: block;
  padding: 4px 0px 20px 0px;
  margin: 0%;
}
.article-portfolio__pictures {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0%;
  margin: 0px;
}
.article-portfolio__pictures li {
  padding: 30px 0px 0px 0px;
}
.article-portfolio__pictures figure {
  margin: 0px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.article-portfolio__pictures img {
  display: block;
}
.article-portfolio__overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 49px 45px 49px 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  top: 0px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
}
.article-portfolio__pictures figure:hover .article-portfolio__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.article-portfolio__pictures figure:first-child:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.article-portfolio__box {
  position: relative;
  overflow: hidden;
}

.button {
  background-color: var(--brand-color);
  height: 50px;
  width: 200px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: "Roboto";
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.button--main {
  margin: 30px auto 0px;
}
.button:hover, .button:active, .button:focus {
  color: black;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  fill: black;
}
.button--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 42px;
  fill: white;
}
@media screen and (max-width: 479.98px) {
  .button--footer {
    margin: 20px auto 60px;
  }
}
@media screen and (min-width: 1200px) {
  .button--footer {
    margin-left: 21px;
  }
}
@media screen and (max-width: 479.98px) {
  .button--modal__send {
    margin: 41px auto 50px;
  }
}
@media screen and (min-width: 1200px) {
  .button--modal__send {
    margin: 30px auto 0px;
  }
}

.logo-link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  letter-spacing: normal;
  line-height: 1.38;
  color: var(--brand-color);
  text-decoration: none;
}
.logo__black {
  color: #212121;
}
.logo__white {
  color: #e5e5e5;
}
@media screen and (max-width: 479.98px) {
  .logo--header {
    padding: 16px 15px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--header {
    padding-left: 15px;
    font-size: 26px;
  }
}
@media screen and (max-width: 479.98px) {
  .logo--header--footer {
    margin: 0px auto;
  }
}
@media screen and (min-width: 1200px) {
  .logo--header--footer {
    margin: 0%;
  }
}

.mail-phone {
  list-style: none;
  padding: 0%;
}
.mail-phone a {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.mail-phone-cont {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mail-phone--footer {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.mail-phone--footer a {
  padding-top: 9px;
  display: block;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 479.98px) {
  .social-links--article-team {
    position: absolute;
    bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .social-links--article-team {
    padding: 16px 0px 30px 0px;
  }
}
.social-links__icon {
  fill: #afb1b8;
  display: block;
}
.social-links__links {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links__icon--footer {
  display: block;
  fill: #ffffff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

body {
  margin: 0px auto;
  background-color: #ffffff;
  font-family: "Roboto";
  position: relative;
  min-width: 320px;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}
@media screen and (max-width: 479.98px) {
  .container {
    width: 480px;
    margin: auto;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 768px;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: auto;
  }
}/*# sourceMappingURL=main.css.map */