:root {
  background-color: #e5e5e5;
  --brand-color: #2196f3;
}
body {
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway";
  font-style: bold;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: normal;
  line-height: 100%;
  letter-spacing: normal;
  color: var(--brand-color);
}
.nav a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.nav a:hover {
  color: var(--brand-color);
}
.nav a:focus {
  color: var(--brand-color);
}
.nav a:active {
  font-weight: 900;
}

.mail-phone a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.mail-phone a:hover {
  color: var(--brand-color);
}
.mail-phone a:active {
  font-weight: 900;
}
.mail-phone a:focus {
  color: var(--brand-color);
}

.page-title {
  font-family: "roboto";
  background-color: #2f303a;
}
.page-title .title {
  font-size: 44px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 116%;
  letter-spacing: 2px;
}
.button-main {
  background-color: var(--brand-color);
  height: 50px;
  width: 200px;
  border-radius: 4px;
  border-color: var(--brand-color);
  color: #ffffff;
  font-family: "roboto";
  font-size: 16px;
  line-height: 30px;
  font-style: bold;
  font-weight: 700;
  letter-spacing: 1px;
}
.ul1 {
  font-family: "Roboto";
  color: #212121;
  font-size: 14px;
  font-style: bold;
  line-height: 16px;
  font-weight: 700;
}
.ul1 p {
  font-family: "Roboto";
  color: #757575;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
}
.h2 {
  font-family: "Roboto";
  color: #212121;
  font-size: 36px;
  font-style: bold;
  line-height: 46px;
  font-weight: 700;
}
.ul1 figcaption {
  font-family: "Roboto";
  color: #212121;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  font-weight: 500;
}
.ul1 .job {
  font-family: "Roboto";
  color: #757575;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  font-weight: 500;
}

.button-portfolio {
  font-family: "Roboto";
  color: #212121;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
  font-weight: 500;
  border: white;
  border-radius: 4px;
  display: flex;
}
.button-portfolio:hover {
  background-color: var(--brand-color);
  color: #ffffff;
}
.pictures-portfolio figcaption {
  font-family: "Roboto";
  color: #212121;
  font-size: 18px;
  font-style: bold;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 1px;
}
.pictures-portfolio figcaption p {
  font-family: "Roboto";
  color: #757575;
  font-size: 16px;
  font-style: normal;
  line-height: 30px;
  font-weight: 700;
}
