:root {
  --brand-color: #2196f3;
  --activr-color: #220086;
}
body {
  margin: 0cm;
  background-color: #ffffff;
  font-family: "Roboto";
  position: relative;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
}
header {
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: normal;
  line-height: 1.38;
  color: var(--brand-color);
  margin: 0%;
}
.logob-black {
  color: #212121;
}
.logob-white {
  color: #e5e5e5;
}

.nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  padding: 0px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  position: relative;
}
.nav {
  list-style: none;
  display: flex;
  margin: 0px 0px 0px 93px;
  padding: 0%;
}
.nav li:nth-child(2) {
  padding: 0px 46px 0px;
}

.mail-phone-header {
  list-style: none;
  display: block;
  display: flex;
  margin-left: 345px;
  padding: 0px;
}
.mail-phone-header p {
  margin: 0px;
}
.mail-phone-header li {
  display: inline-flex;
  padding-right: 30px;
}
.mail-phone-header li:last-child {
  padding: 0px;
}

.mail-phone-header a {
  padding-right: 0px;
  display: flex;
  fill: #757575;
}

.mail-phone-header p:first-child {
  padding-right: 10px;
}
.mail-phone-header li:hover a {
  fill: var(--brand-color);
  color: var(--brand-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.mail-phone-header a:focus {
  fill: var(--brand-color);
  color: var(--brand-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.mail-phone-cont {
  display: block;
  justify-content: center;
  align-items: center;
}

.mail-phone-footer {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.mail-phone-footer a {
  padding-top: 9px;
  display: block;
}
.mail-phone-footer a:hover,
.mail-phone-footer a:active,
.mail-phone-footer a:focus {
  color: var(--brand-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.mail-phone a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.page-title {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin: auto;
}

.page-title .title {
  font-size: 44px;
  color: white;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px;
  text-align: center;
}
.button-main {
  background-color: var(--brand-color);
  height: 50px;
  width: 200px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: "Roboto";
  margin: 30px auto 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.button-main:hover,
.button-main:active,
.button-main:focus {
  color: var(--activr-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.article-main ul {
  display: flex;
  margin-right: 0px;
  padding: 0px;
  list-style: none;
}
.article-main li {
  margin-right: 30px;
  padding: 0px;
}
.article-main li:last-child {
  margin-right: 0px;
  padding: 0px;
}

.sub-titleh3 {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin: 0px;
  padding: 30px 0px 0px 0px;
}
.article-main p {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  padding: 0px;
  margin: 0%;
}

.sub-title1 {
  color: #212121;
  font-size: 36px;
  line-height: 1.27;
  font-weight: 700;
  padding: 94px 0px 50px 0px;
  margin: 0%;
  text-align: center;
}

.pictures {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.section-naszzespol {
  padding: 0px;
  background-color: #f5f4fa;
}
.sub-title2 {
  color: #212121;
  font-size: 36px;
  line-height: 1.27;
  font-weight: 700;
  margin: 0px;
  padding: 0%;
  text-align: center;
}
.fig-zespol {
  margin-top: 50px;
  padding: 0px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.fig-zespol figure {
  margin: 0px;
}
.ul1 {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.ul1 figcaption {
  color: #212121;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  margin-top: 30px;
  padding: 0px;
  text-align: center;
  letter-spacing: 0.03em;
}
.ul1 .job {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  display: block;
  padding-top: 10px;
}
.footer {
  background-color: #2f303a;
  height: 252px;
  margin: 0px;
  display: flex;
}

.address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  font-weight: 400;
  padding: 20px 1px 0px 0px;
  margin: 0px;
  display: block;
  letter-spacing: 0.03em;
}
.article-box-portfolio {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.article-box-portfolio ul:first-child {
  display: flex;
  align-items: flex-end;
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.article-box-portfolio li {
  padding-right: 8px;
}
.button-portfolio {
  color: #212121;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  border: white;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  padding: 6px 22px 6px 22px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--brand-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, box-shadow;
}

.button-portfolio:active {
  color: var(--activr-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.pictures-portfolio figcaption {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 1px;
  display: block;
  padding: 20px 0px 0px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.pictures-portfolio figcaption p {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  display: block;
  padding: 4px 0px 20px 0px;
  margin: 0%;
}
.pictures-portfolio {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0%;
  margin: 0px;
}
.pictures-portfolio li {
  padding: 30px 0px 0px 0px;
}
.pictures-portfolio figure {
  margin: 0px;
  transition-duration: 250ms;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pictures-portfolio img {
  display: block;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.icons-article {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-article:last-child {
  padding: 0%;
  margin: 0%;
}
.footer-left {
  display: block;
}
.container-footer {
  display: flex;

  align-items: flex-start;
}

.icon-naszzespol {
  padding: 0px 0px 30px 0px;
}
.icon-naszzespol a {
  text-decoration: none;
}
.social-links-all {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  flex-wrap: wrap;
  margin-top: 72px;
}
.social-links-all p {
  width: 200px;
  padding-bottom: 20px;
  margin: 0%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
}
.social-links {
  display: flex;
  padding: 16px 0px 30px 0px;
}
.social-footer {
  display: flex;
}
.social-links-all > div > div:nth-child(4) > a {
  margin: 0px;
}
.cocial-links-footer {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.icon-footer {
  display: block;
  fill: #ffffff;
}
.cocial-links-footer:hover,
.cocial-links-footer:active,
.cocial-links-footer:focus {
  background-color: var(--brand-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.footer-left {
  margin-top: 60px;
}
.companys {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}
.nasi-klienci {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.nasi-klienci p {
  margin: 0%;
  padding: 94px 0px 50px 0px;
}
.nasi-klienci ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0%;
}
.nasi-klienci li {
  padding: 0px 0px 94px 0px;
}
.nasi-klienci li:last-child {
  padding: 0%;
}

.companys:hover,
.companys:active,
.companys:focus {
  border: 1px solid var(--brand-color);
  fill: #2196f3;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, border;
}

.icon-nasi-klienci {
  fill: #afb1b8;
  display: block;
}
.social-links-nasi-klienci {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links-nasi-klienci:hover,
.social-links-nasi-klienci:focus,
.social-links-nasi-klienci:active {
  background-color: var(--brand-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, background-color;
}
.social-links-nasi-klienci:hover .icon-nasi-klienci,
.social-links-nasi-klienci:active .icon-nasi-klienci,
.social-links-nasi-klienci:focus .icon-nasi-klienci {
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.pictures-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3px;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0;
  right: 0;
  color: #ffffff;
  height: 70px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.pictures li {
  position: relative;
}
.pictures-portfolio-overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 49px 45px 49px 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  top: 0px;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, box-shadow;
}

.pictures-portfolio figure:hover .pictures-portfolio-overlay {
  transform: translateY(0%);
}
.pictures-portfolio figure:first-child:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.nav-active {
  width: 10px;
  height: 1px;
  border: #2196f3;
  border-radius: 2px;
  position: absolute;
}

.nav a:focus,
.nav a:active,
.nav a:hover {
  color: var(--brand-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.nav a::before {
  display: none;
  position: absolute;
  top: 45px;
  content: "";
  width: 58px;
  height: 1px;
  border: 2px solid #2196f3;
  border-radius: 2px;
}
.nav a:hover::before,
.nav a:active::before,
.nav a:focus::before {
  display: block;
}
.pictures-text-box {
  position: relative;
  overflow: hidden;
}
.box {
  position: relative;
  overflow: hidden;
}

.logo-link {
  text-decoration: none;
}
.agencja-active a {
  color: var(--brand-color);
}
.agencja-active a::after {
  position: absolute;
  top: 45px;
  content: "";
  width: 58px;
  height: 1px;
  border: 2px solid #2196f3;
  border-radius: 2px;
}
.portfolio-active a::after {
  position: absolute;
  top: 45px;
  content: "";
  width: 58px;
  height: 1px;
  border: 2px solid #2196f3;
  border-radius: 2px;
}
.portfolio-active a {
  color: var(--brand-color);
}
.x-modal {
  fill: black;
}
.okno {
  top: 221px;
  width: 528px;
  height: 581px;
  background-color: white;
  position: fixed;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform: scale(1) rotate(0deg);
  padding: 40px;
  position: relative;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  animation: modalAn 2s;
  animation-direction: reverse;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0ch;
  left: 0cm;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  justify-content: center;
  opacity: 1;
  animation: modalAn 2s;
}

.button-modal {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.footer-email {
  color: #fff;
}
.button-footer {
  width: 200px;
  height: 50px;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  display: flex;
  border: none;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding-left: 42px;
  margin-left: 21px;
  cursor: pointer;
}
.footer-input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  margin-top: 20px;
  color: #fff;
}
.footer-email svg {
  margin-left: 24px;
}

.footer-email form {
  display: flex;
  align-items: flex-end;
  padding-top: 72px;
  margin-left: 69px;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
}
.okno textarea {
  resize: none;
  width: 448px;
  height: 120px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
  color: black;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.okno textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-input {
  display: flex;
  flex-direction: column;
}
.okno h4 {
  color: black;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin: 0%;
  padding-bottom: 12px;
}
.okno label {
  color: rgba(117, 117, 117, 1);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding-bottom: 4px;
  position: relative;
}
.okno input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
}
.okno input:focus {
  outline: 1px solid var(--brand-color);
  border-radius: 4px;
}

.okno div {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 24px;
  margin: auto;
}

.okno label:last-child {
  margin: 0%;
  padding: 0%;
}
.okno div input {
  margin: 0px 8px 0px 0px;
  padding: 0px;
  height: 24px;
  cursor: pointer;
  background-color: #212121;
}

.okno div label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.okno a {
  color: var(--brand-color);
}
.okno button:last-child {
  background-color: var(--brand-color);
  height: 50px;
  width: 200px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: "Roboto";
  margin: 30px auto 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.okno textarea:focus {
  outline: 1px solid var(--brand-color);
}
.okno form svg {
  position: absolute;
  top: 32px;
  left: 15px;
}

@keyframes modalAn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale();
    opacity: 1;
  }
}
.test {
  opacity: 0;

  width: 50px;
  height: 50px;
  background-color: #757575;

  margin: auto;
}
.test:hover {
  animation: modalAn 2s;
  animation-direction: reverse;
}
.testrev:hover {
  animation: modalAn 2s;
}
.testrev {
  width: 50px;
  height: 50px;
  background-color: #757575;
  margin: auto;
}
