:root {
  --brand-color: #2196f3;
  --activr-color: #220086;
}
body {
  margin: 0cm;
  background-color: #ffffff;
  font-family: "Roboto";
  width: 1600px;
}
.header {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: normal;
  line-height: 1.38;
  color: var(--brand-color);
}
.logob-black {
  color: #212121;
}
.logob-white {
  color: #e5e5e5;
}
.logo-header {
  margin: 0px 0px 0px 215px;
}
.logo-footer {
  padding: 60px 0px 0px 215px;
  margin: 0px;
}
.nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.nav {
  list-style: none;
  display: flex;
  margin: 0px 0px 0px 93px;
  padding: 0%;
}
.nav li:nth-child(2) {
  padding: 0px 46px 0px 46px;
}
.nav a:hover {
  color: var(--brand-color);
}
.nav a:focus {
  color: var(--brand-color);
}
.nav a:active {
  font-weight: 900;
  color: var(--activr-color);
}

.mail-phone-header {
  list-style: none;
  display: flex;
  margin-left: 371px;
  padding: 0px;
}
.mail-phone-header a {
  padding-right: 50px;
}
.mail-phone-footer {
  list-style: none;
  margin: 0px 0px 0px 215px;
  padding: 0px;
}
.mail-phone-footer a {
  padding-top: 9px;
  display: block;
}
.mail-phone a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mail-phone a:hover {
  color: var(--brand-color);
}
.mail-phone a:active {
  font-weight: 900;
  color: black;
}
.mail-phone a:focus {
  color: var(--brand-color);
}

.page-title {
  background-color: #2f303a;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-title .title {
  font-size: 44px;
  color: white;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px;
  text-align: center;
}
.button-main {
  background-color: var(--brand-color);
  height: 50px;
  width: 200px;
  border-radius: 4px;
  border-color: #2f303a;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: "Roboto";
  margin: 30px auto 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-main:active {
  color: var(--activr-color);
}
.button-main:focus {
  color: black;
}
.article-main {
  width: 1170px;
  height: 101px;
  padding: 0px;
  margin: 94px auto 0px;
}
.article-main-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.sub-titleh3 {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
.article-main-list p {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  padding: 0px;
}

.sub-title1 {
  color: #212121;
  font-size: 36px;
  line-height: 1.27;
  font-weight: 700;
  margin: 0px;
  padding-bottom: 50px;
  text-align: center;
}

.div-pictures {
  width: 1170px;
  height: 386px;
  margin: 94px 215px 0px 215px;
}

.pictures {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.section-naszzespol {
  margin-top: 94px;
  padding: 0px;
  background-color: #f5f4fa;
}
.sub-title2 {
  color: #212121;
  font-size: 36px;
  line-height: 1.27;
  font-weight: 700;
  margin: 0px;
  padding-top: 94px;
  text-align: center;
}
.fig-zespol {
  width: 270px;
  height: 368px;
  margin: 50px 15px 94px 15px;
  padding: 0px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.fig-zespol figure {
  margin: 0px;
}
.ul1 {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
.ul1 figcaption {
  color: #212121;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  margin: 30px auto;
  padding: 0px;
  text-align: center;
  letter-spacing: 0.03em;
}
.ul1 .job {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  display: block;
  padding-top: 10px;
}
.footer {
  background-color: #2f303a;
  height: 252px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: last baseline;
}

.address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  font-weight: 400;
  padding: 20px 0px 0px 215px;
  margin: 0px;
  display: block;
}
.article-box-portfolio {
  width: 1170px;
  margin: 94px auto 94px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.article-box-portfolio ul:first-child {
  display: flex;
  align-items: flex-end;
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.button-portfolio {
  color: #212121;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  border: white;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  padding: 6px 22px 6px 22px;
  margin: 0px 4px 0px 4px;
}
.button-portfolio:hover {
  background-color: var(--brand-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-portfolio:active {
  font-weight: 700;
  color: var(--activr-color);
}
.pictures-portfolio figcaption {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 1px;
  display: block;
  margin: 20px 0px 0px 24px;
}
.pictures-portfolio figcaption p {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  display: block;
  margin: 4px 0px 20px 0px;
}
.pictures-portfolio {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0%;
  margin: 0px;
}
.pictures-portfolio figure {
  margin: 0px;
  border: 1px solid #eeeeee;
  margin-top: 30px;
  display: block;
}
