:root {
  --brand-color: #2196f3;
  --activr-color: #220086;
}
body {
  margin: 0cm;
  background-color: #ffffff;
  font-family: "Roboto";
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
}
header {
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: normal;
  line-height: 1.38;
  color: var(--brand-color);
  margin: 0%;
}
.logob-black {
  color: #212121;
}
.logob-white {
  color: #e5e5e5;
}

.nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.nav {
  list-style: none;
  display: flex;
  margin: 0px 0px 0px 93px;
  padding: 0%;
}
.nav li:nth-child(2) {
  padding: 0px 46px 0px;
}
.nav a:hover {
  color: var(--brand-color);
}
.nav a:focus {
  color: var(--brand-color);
}
.nav a:active {
  font-weight: 900;
  color: var(--brand-color);
}

.mail-phone-header {
  list-style: none;
  display: block;
  display: flex;

  margin-left: 345px;
  padding: 0px;
}

.mail-phone-header li:nth-child(2) > a {
  padding-right: 0px;
}
.mail-phone-header li {
  display: inline-flex;
  padding-right: 30px;
}

.mail-phone-cont {
  display: block;
  justify-content: center;
  align-items: center;
}

.mail-phone-header li a:first-child {
  padding-right: 10px;
}

.mail-phone-footer {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.mail-phone-footer a {
  padding-top: 9px;
  display: block;
}
.mail-phone a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mail-phone a:hover {
  color: var(--brand-color);
}
.mail-phone a:active {
  font-weight: 900;
  color: black;
}
.mail-phone a:focus {
  color: var(--brand-color);
}
.page-title {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin: auto;
}

.page-title .title {
  font-size: 44px;
  color: white;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px;
  text-align: center;
  z-index: 1;
}
.button-main {
  background-color: var(--brand-color);

  height: 50px;
  width: 200px;
  border-radius: 4px;
  border-color: #2f303a;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: "Roboto";
  margin: 30px auto 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.button-main:hover {
  color: var(--activr-color);
}
.button-main:active {
  color: var(--activr-color);
}
.button-main:focus {
  color: black;
}

.article-main ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.sub-titleh3 {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin: 0px;
  padding: 30px 0px 0px 0px;
}
.article-main p {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  padding: 0px;
}

.sub-title1 {
  color: #212121;
  font-size: 36px;
  line-height: 1.27;
  font-weight: 700;
  padding: 94px 0px 50px 0px;
  margin: 0%;
  text-align: center;
}

.pictures {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.section-naszzespol {
  padding: 0px;
  background-color: #f5f4fa;
}
.sub-title2 {
  color: #212121;
  font-size: 36px;
  line-height: 1.27;
  font-weight: 700;
  margin: 0px;
  padding: 0%;
  text-align: center;
}
.fig-zespol {
  margin-top: 50px;
  padding: 0px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.fig-zespol figure {
  margin: 0px;
}
.ul1 {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.ul1 figcaption {
  color: #212121;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  margin-top: 30px;
  padding: 0px;
  text-align: center;
  letter-spacing: 0.03em;
}
.ul1 .job {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  display: block;
  padding-top: 10px;
}
.footer {
  background-color: #2f303a;
  height: 252px;
  margin: 0px;
  display: block;
}

.address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  font-weight: 400;
  padding: 20px 0px 0px 0px;
  margin: 0px;
  display: block;
}
.article-box-portfolio {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.article-box-portfolio ul:first-child {
  display: flex;
  align-items: flex-end;
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.article-box-portfolio li {
  padding-right: 8px;
}
.button-portfolio {
  color: #212121;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  border: white;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  padding: 6px 22px 6px 22px;
}
.button-portfolio:hover {
  background-color: var(--brand-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-portfolio:focus {
  background-color: var(--brand-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-portfolio:active {
  font-weight: 700;
  color: var(--activr-color);
}
.pictures-portfolio figcaption {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 1px;
  display: block;
  padding: 20px 0px 0px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.pictures-portfolio figcaption p {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  display: block;
  padding: 4px 0px 20px 0px;
  margin: 0%;
}
.pictures-portfolio {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0%;
  margin: 0px;
}
.pictures-portfolio li {
  padding: 30px 0px 0px 0px;
}
.pictures-portfolio figure {
  margin: 0px;
}

.pictures-portfolio img {
  display: block;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.icons-article {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-left {
  display: block;
}
.container-footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.icon-naszzespol {
  padding: 0px 0px 30px 0px;
}
.icon-naszzespol a {
  text-decoration: none;
}
.social-links-all {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  flex-wrap: wrap;
  margin-top: 70px;
}
.social-links-all p {
  padding-bottom: 20px;
  margin: 0%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.social-links {
  display: flex;
  padding: 16px 0px 30px 0px;
}
.icon-active:hover,
.icon-active:focus {
  stroke: var(--brand-color);
}
.icon-active {
  display: inline-flex;
  align-items: baseline;
}
.cocial-links-footer {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.icon-footer {
  display: block;
  fill: #ffffff;
}
.cocial-links-footer:hover {
  background-color: var(--brand-color);
}
.cocial-links-footer:active {
  background-color: var(--brand-color);
}
.footer-left {
  margin-top: 60px;
}
.companys {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}
.nasi-klienci {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.nasi-klienci p {
  margin: 0%;
  padding: 94px 0px 50px 0px;
}
.nasi-klienci ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0%;
}
.nasi-klienci li {
  padding: 0px 0px 94px 0px;
}
.nasi-klienci li:last-child {
  padding: 0%;
}

.companys:hover,
.companys:active {
  border: 1px solid var(--brand-color);
}

.companys-icons:hover,
.companys-icons:active {
  fill: #2196f3;
}

.icon-nasi-klienci {
  fill: #afb1b8;
  display: block;
}
.social-links-nasi-klienci {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links-nasi-klienci:hover,
.icon-nasi-klienci:hover {
  background-color: var(--brand-color);
  fill: #ffffff;
}
.social-links-nasi-klienci:active,
.icon-nasi-klienci:active {
  background-color: var(--brand-color);
  fill: #ffffff;
}
