:root {
  background-color: #e5e5e5;
  --brand-color: #2196f3;
  --activr-color: #220086;
  font-family: "Roboto";
}
body {
  margin: 0cm;
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: normal;
  line-height: 1.38;
  color: var(--brand-color);
  margin: 0cm;
}
.logob-lack {
  color: #212121;
}

.nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.nav a:hover {
  color: var(--brand-color);
}
.nav a:focus {
  color: var(--brand-color);
}
.nav a:active {
  font-weight: 900;
  color: var(--activr-color);
}

.mail-phone a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.mail-phone {
  margin: 0cm;
}
.mail-phone a:hover {
  color: var(--brand-color);
}
.mail-phone a:active {
  font-weight: 900;
  color: black;
}
.mail-phone a:focus {
  color: var(--brand-color);
}

.page-title {
  background-color: #2f303a;
}
.page-title .title {
  font-size: 44px;
  color: white;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 1.36;
  letter-spacing: 2px;
}
.button-main {
  background-color: var(--brand-color);
  height: 50px;
  width: 200px;
  border-radius: 4px;
  border-color: #2f303a;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Roboto";
}

.button-main:active {
  color: var(--activr-color);
}
.button-main:focus {
  color: black;
}
.article-main {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
}
.article-main p {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}
.sub-title {
  color: #212121;
  font-size: 36px;
  line-height: 1.27;
  font-weight: 700;
}
.ul1 figcaption {
  color: #212121;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
}
.ul1 .job {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
}
.footer {
  background-color: #2f303a;
  margin: 0px;
}
.address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}
.button-portfolio {
  color: #212121;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  border: white;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
}
.button-portfolio:hover {
  background-color: var(--brand-color);
  color: #ffffff;
}
.button-portfolio:active {
  font-weight: 700;
  color: var(--activr-color);
}
.pictures-portfolio figcaption {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 1px;
}
.pictures-portfolio figcaption p {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
}
