@import "./utils/variables";
@import "./utils/mixins";
@import "./components/page-footer";
@import "./components/page-header";
@import "./components/index-main";
@import "./components/portfolio-main";
@import "./components/button";
@import "./components/logo";
@import "./components/mail-phone";
@import "./components/social-links";
@import "./components/hamburgermenu";
body {
  margin: 0px auto;
  background-color: #ffffff;
  font-family: "Roboto";
  position: relative;
  min-width: 320px;
}
.container {
  max-width: 1200px;
  min-width: 320px;

  margin: 0 auto;
  @include mq(phone, max) {
    width: 480px;
    margin: auto;
  }
  @include mq(phone) {
    width: 768px;
    margin: auto;
  }
  @include mq(desktop) {
    width: 1200px;
    margin: auto;
  }
}
@include mq(phone, max) {
}
@include mq(phone) {
}
@include mq(desktop) {
}
