.button {
  background-color: var(--brand-color);
  height: 50px;
  width: 200px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: "Roboto";
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  &--main {
    margin: 30px auto 0px;
  }
  &:hover,
  &:active,
  &:focus {
    color: black;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
    fill: black;
  }
  &--footer {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 42px;
    fill: white;
    @include mq(phone, max) {
      margin: 20px auto 60px;
    }
    @include mq(phone) {
      margin: 20px auto 60px;
    }
    @include mq(desktop) {
      margin: 0px 0px 0px 21px;
    }
  }
  &--modal__send {
    @include mq(phone, max) {
      margin: 41px auto 50px;
    }
    @include mq(phone) {
      margin: 30px auto 0px;
    }
    @include mq(desktop) {
      margin: 30px auto 0px;
    }
  }
}
