.ham-menu {
  min-width: 320px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @include mq(phone, max) {
    display: block;
  }
  @include mq(phone) {
    display: none;
  }
  @include mq(desktop) {
    display: none;
  }
}
.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: n;
  color: rgba(33, 150, 243, 1);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  position: absolute;
  top: 10px;
  left: 433px;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: rgba(33, 150, 243, 1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(200%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 40px;
  font-family: "Roboto";
  font-weight: 500;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #212121;
  text-decoration: none;
}
.mobile-menu .link:hover {
  color: #2196f3;
}
.mobile__tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  color: #2196f3;
  text-decoration: none;
  position: absolute;
  top: 562px;
}
.mobile__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  position: absolute;
  top: 634px;
}
.mobile__insta {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  left: 40px;
  top: 726px;
  color: #2196f3;
  text-decoration: none;
}
.mobile__twit {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  left: 145px;
  top: 726px;
  color: #2196f3;
  text-decoration: none;
}
.mobile__face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  left: 224px;
  top: 726px;
  color: #2196f3;
  text-decoration: none;
}
.mobile__linked {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  left: 325px;
  top: 726px;
  color: #2196f3;
  text-decoration: none;
}
.mobile__line {
  stroke-width: 1px;
  stroke: rgba(33, 33, 33, 0.2);

  position: absolute;
  left: 123px;
  top: 726px;
  color: #757575;
}
.mobile__line1 {
  stroke-width: 1px;
  stroke: rgba(33, 33, 33, 0.2);

  position: absolute;
  left: 200px;
  top: 726px;
  color: #757575;
}
.mobile__line2 {
  stroke-width: 1px;
  stroke: rgba(33, 33, 33, 0.2);
  position: absolute;
  left: 300px;
  top: 726px;
}
.mobile__x:hover {
  fill: #2196f3;
}
