.pageTitle {
  background-repeat: no-repeat;
  width: 1600px;
  height: 600px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    image-set(
      url(../images/background.jpg) 1x,
      url(../images/backgroundx2.jpg) 2x,
      url(../images/backgroundx3.jpg) 3x
    );

  @include mq(phone, max) {
    width: 479px;
    background-size: 1100px;
  }

  @include mq(phone) {
    width: 767px;
    background-size: 1200px;
  }
  @include mq(desktop) {
    width: 1600px;
    background-size: 1600px;
  }

  &__title {
    color: white;
    font-weight: 900;
    letter-spacing: normal;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0px auto;
    text-align: center;
    @include mq(phone, max) {
      font-size: 26px;
    }
    @include mq(phone) {
      font-size: 26px;
    }
    @include mq(desktop) {
      font-size: 44px;
    }
  }
  @include mq(phone, max) {
    height: 400px;
  }
  @include mq(phone) {
    height: 400px;
  }
  @include mq(desktop) {
    height: 600px;
  }
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: transform, opacity;
}

.article-main {
  @include mq(phone, max) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include mq(phone) {
  }
  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  ul {
    list-style: none;
  }
  &__listIcons li:not(:last-child) {
    @include mq(desktop) {
      margin-right: 30px;
      padding: 0px;
    }
  }

  &__listIcons {
    color: #212121;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;

    @include mq(phone, max) {
      padding: 0px 15px;
    }
    @include mq(phone) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 60px auto 0px;
      padding: 0%;
    }
    @include mq(desktop) {
      display: flex;
      gap: 0px;
      margin-right: 0px;
      padding: 30px 0px 0px 0px;
      margin: 0px;
    }
  }
  &__listIcons p {
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
    padding-bottom: 30px;
    font-weight: 400;
    @include mq(phone, max) {
    }
    @include mq(phone) {
      padding: 0px;
      margin: 0px auto;
      width: 354px;
    }
    @include mq(desktop) {
      padding: 0px;
      margin: 0%;
      width: 270px;
    }
  }
  &__sub-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
    @include mq(phone, max) {
      text-align: center;
    }
    @include mq(phone) {
    }
    @include mq(desktop) {
    }
  }
  &__titlePictures {
    color: #212121;
    font-size: 36px;
    line-height: 1.27;
    font-weight: 700;
    padding: 94px 0px 50px 0px;
    margin: 0%;
    text-align: center;
    @include mq(phone, max) {
      display: none;
    }
    @include mq(phone) {
      display: none;
    }
    @include mq(desktop) {
      display: block;
    }
  }

  &__pictures {
    list-style: none;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    @include mq(phone, max) {
      display: none;
    }
    @include mq(phone) {
      display: none;
    }
    @include mq(desktop) {
      display: flex;
    }
  }
  &__icons {
    background-color: #f5f4fa;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(phone, max) {
      width: 450px;
      height: 120px;
    }
    @include mq(phone) {
      width: 354px;
      height: 120px;
    }
    @include mq(desktop) {
      width: 270px;
      height: 120px;
    }
  }
  &__icons:last-child {
    @include mq(desktop) {
      padding: 0%;
      margin: 0%;
    }
  }
  &__picturesText {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 3px;
    background-color: rgba(47, 48, 58, 0.8);
    left: 0;
    right: 0;
    color: #ffffff;
    height: 70px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  &__pictures li {
    position: relative;
  }
}
.article-team {
  background-color: #f5f4fa;
  @include mq(phone, max) {
    padding: 60px 0px;
    width: 479px;
  }
  @include mq(phone) {
    width: 768px;
    margin: auto;
  }
  @include mq(desktop) {
    padding: 94px 0px;
    margin: auto;
    width: auto;
  }

  &__title {
    color: #212121;
    font-weight: 700;
    margin: 0px;
    padding: 0%;
    text-align: center;
    @include mq(phone, max) {
      font-size: 28px;
      line-height: 1.17;
    }
    @include mq(phone) {
      font-size: 28px;
      line-height: 1.17;
      margin-top: 45px;
      padding-top: 60px;
    }
    @include mq(desktop) {
      font-size: 36px;
      line-height: 1.27;
    }
  }
  &__person-list li:last-child {
    @include mq(phone) {
      margin-bottom: 30px;
    }
  }
  &__person-list li {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    @include mq(phone, max) {
      margin-top: 30px;
      padding: 0%;
      width: 450px;
      height: 622px;
      position: relative;
    }
    @include mq(phone) {
      margin-top: 30px;
      width: 354px;
      height: 536px;
      display: flex;
    }
    @include mq(desktop) {
      margin-top: 50px;
      padding: 0px;
      width: 270px;
      height: 428px;
    }
  }

  &__person-list figure {
    margin: 0px;
    padding: 0%;
  }
  &__person-list img {
    @include mq(phone, max) {
      width: 450px;
      height: 460px;
      position: absolute;
      left: 0px;
      top: 0px;
    }
    @include mq(phone) {
      width: 354px;
      height: 374px;
    }
    @include mq(desktop) {
      width: 270px;
      height: 260px;
    }
  }
  &__person-list {
    list-style: none;

    @include mq(phone, max) {
      padding: 0px 15px;
    }
    @include mq(phone) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0%;
      padding: 0%;
    }
    @include mq(desktop) {
      display: flex;
      justify-content: space-between;
      padding: 0px;
      margin: 0px;
    }
  }
  &__person-list figcaption {
    color: #212121;
    font-size: 16px;
    line-height: 1.19;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.03em;
    width: 200px;
    @include mq(phone, max) {
      position: absolute;
      left: 120px;
      top: 490px;
    }
    @include mq(phone) {
      padding: 0px;
      margin: 30px auto 0px;
    }
    @include mq(desktop) {
      padding: 0px;
      margin: 30px auto 0px;
    }
  }
  &__job {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding-top: 10px;

    @include mq(phone, max) {
    }
    @include mq(phone) {
    }
    @include mq(desktop) {
      display: block;
      padding-top: 10px;
    }
  }
}
.section-clients {
  &__companys {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    @include mq(phone, max) {
      width: 210px;
      height: 92px;
    }
    @include mq(phone) {
      width: 226px;
      height: 92px;
    }
    @include mq(desktop) {
      width: 170px;
      height: 92px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    @include mq(phone, max) {
      padding: 60px 0px 0px 0px;
    }
    @include mq(phone) {
    }
    @include mq(desktop) {
      margin: 0%;
      padding: 94px 0px 50px 0px;
    }
  }
  ul {
    list-style: none;

    @include mq(phone, max) {
      display: flex;
      flex-basis: calc(100% / 2 - 30px);
      gap: 30px;
      flex-wrap: wrap;
      margin-bottom: 60px;
      padding: 0px 15px;
    }
    @include mq(phone) {
      display: flex;
      flex-basis: calc(100% / 3 - 60px);
      gap: 30px;
      margin-bottom: 60px;
      padding: 0px 15px;
      flex-wrap: wrap;
    }
    @include mq(desktop) {
      display: flex;
      justify-content: space-between;
      margin: 0%;
      padding: 0%;
    }
  }
  li {
    @include mq(phone, max) {
    }
    @include mq(phone) {
    }
    @include mq(desktop) {
      padding-bottom: 94px;
    }
  }
  li:last-child {
    @include mq(desktop) {
      padding: 0%;
    }
  }

  &__companys:hover,
  &__companys:active,
  &__companys:focus {
    border: 1px solid var(--brand-color);
    fill: #2196f3;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill, border;
  }
}
