.logo-link {
  text-decoration: none;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;

  letter-spacing: normal;
  line-height: 1.38;
  color: var(--brand-color);
  margin: 0%;
  text-decoration: none;

  &__black {
    color: #212121;
  }
  &__white {
    color: #e5e5e5;
  }
}
.logo--header {
  @include mq(phone, max) {
    padding: 16px 15px;
    font-size: 24px;
  }
  @include mq(phone) {
  }
  @include mq(desktop) {
    padding-left: 15px;
    font-size: 26px;
  }
}
