.logo-link {
  text-decoration: none;
  width: 150px;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  letter-spacing: normal;
  line-height: 1.38;
  color: var(--brand-color);
  text-decoration: none;
  margin-right: 0%;
  display: block;
  &__black {
    color: #212121;
  }
  &__white {
    color: #e5e5e5;
  }
  &--header {
    @include mq(phone, max) {
      padding: 15px 16px;
      font-size: 24px;
      margin: 0%;
      width: 150px;
      margin-right: 0px;
    }
    @include mq(phone) {
      padding-left: 15px;
      font-size: 26px;
    }
    @include mq(desktop) {
      padding-left: 15px;
      font-size: 26px;
    }
  }
  &--footer {
    @include mq(phone, max) {
      margin: 60px auto 0px;
    }
    @include mq(phone) {
      margin: 60px auto 0px;
    }
    @include mq(desktop) {
      margin: 0%;
    }
  }
}
