.mail-phone {
  list-style: none;
  padding: 0%;
  a {
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
  }
  &-cont {
    display: block;
    justify-content: center;
    align-items: center;
  }
  li:hover a {
    @extend %mail-phone;
  }
  a:focus {
    @extend %mail-phone;
  }
  &--footer {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  &--footer a {
    padding-top: 9px;
    display: block;
  }

  &--header {
    list-style: none;
    display: block;
    @include mq(phone, max) {
    }
    @include mq(phone) {
      margin-left: 101px;
    }
    @include mq(desktop) {
      list-style: none;
      margin-left: 345px;
      padding: 0px;
    }
    & a {
      padding-right: 0px;
      display: flex;
      fill: #757575;
    }
    & p {
      margin: 0px;
      margin-top: 10px;
    }
    & li {
      display: inline-flex;
      padding-right: 30px;
    }
    & li:last-child {
      padding: 0px;
    }
    & p:first-child {
      padding-right: 10px;
    }
    @include mq(phone, max) {
      display: none;
    }
    @include mq(phone) {
      flex-direction: column;
    }
    @include mq(desktop) {
      display: flex;
      flex-direction: row;
    }
  }
}
