.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0ch;
  left: 0cm;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: transform, opacity;
  transition-duration: 250ms;

  &__okno {
    background-color: white;
    position: fixed;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    animation: modalAn 250ms;
    position: relative;
    @include mq(phone, max) {
      top: 93px;
      width: 450px;
      height: 650px;
      left: 0px;
    }
    @include mq(phone) {
      top: 208px;
      width: 450px;
      height: 650px;
      left: 0px;
    }
    @include mq(desktop) {
      top: 221px;
      width: 528px;
      height: 581px;
    }
  }
  &__xButton {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
  }
  &__xButton svg {
    fill: black;
    color: black;
  }
  &__okno textarea {
    resize: none;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.01em;
    text-align: left;
    color: black;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    @include mq(phone, max) {
      width: 370px;
      height: 120px;
    }
    @include mq(phone) {
      width: 370px;
      height: 120px;
    }
    @include mq(desktop) {
      width: 448px;
      height: 120px;
    }
  }
  &__okno textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &__input {
    display: flex;
    flex-direction: column;
  }

  &__okno h4 {
    color: black;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin: 0%;
    padding-bottom: 12px;
    text-align: center;
  }
  &__okno label {
    color: rgba(117, 117, 117, 1);
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    padding-bottom: 4px;
    position: relative;
  }
  &__okno input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 42px;
  }
  &__okno input:focus {
    outline: 1px solid var(--brand-color);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: outline;
  }

  &__okno div {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 24px;
    margin: auto;
  }

  &__okno label:last-child {
    margin: 0%;
    padding: 0%;
  }
  &__okno div input {
    margin: 0px 8px 0px 0px;
    padding: 0px;
    height: 24px;
  }

  &__okno div label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;

    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    position: relative;
    padding-left: 39px;
    cursor: pointer;
    @include mq(phone, max) {
      font-size: 12px;
    }
    @include mq(phone) {
      font-size: 12px;
    }
    @include mq(desktop) {
      font-size: 14px;
    }
  }
  &__okno a {
    color: var(--brand-color);
  }
  &__okno form textarea:focus {
    outline: 1px solid var(--brand-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: outline;
  }
  &__okno div input {
    border: none;
    appearance: none;
    outline: none;
    position: relative;
  }
  &__okno div input:focus {
    outline: none;
  }
  &__okno div label::before {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    width: 16px;
    border: 2px solid black;
    border-radius: 2px;
    left: -24px;
    top: 4px;
  }
  &__okno div input:checked + label::before {
    background-color: var(--brand-color);
    border: var(--brand-color);
  }
  &__checked {
    position: absolute;
    pointer-events: none;

    @include mq(phone, max) {
      top: 470px;
      left: 38px;
    }
    @include mq(phone) {
      top: 470px;
      left: 38px;
    }
    @include mq(desktop) {
      top: 447px;
      left: 49px;
    }
  }
  &__email {
    position: absolute;

    @include mq(phone, max) {
      top: 265px;
      left: 54px;
    }
    @include mq(phone) {
      top: 265px;
      left: 54px;
    }
    @include mq(desktop) {
      top: 243px;
      left: 54px;
    }
  }
  &__email-input:focus + &__email {
    fill: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }

  &__telefon {
    position: absolute;

    @include mq(phone, max) {
      top: 198px;
      left: 55px;
    }
    @include mq(phone) {
      top: 198px;
      left: 55px;
    }
    @include mq(desktop) {
      top: 176px;
      left: 55px;
    }
  }
  &__telefon-input:focus + &__telefon {
    fill: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }
  &__name {
    position: absolute;

    @include mq(phone, max) {
      top: 130px;
      left: 55px;
    }
    @include mq(phone) {
      top: 130px;
      left: 55px;
    }
    @include mq(desktop) {
      top: 107px;
      left: 55px;
    }
  }
  &__name-input:focus + &__name {
    fill: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }
}
