.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.nav {
  list-style: none;
  display: flex;
  margin: 0px 0px 0px 93px;
  padding: 0%;
  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    padding: 0px;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    position: relative;
  }
  li:nth-child(2) {
    padding: 0px 46px 0px;
  }
  & a:focus,
  & a:active,
  & a:hover {
    @extend %mail-phone;
  }
  & a::before {
    display: none;
    position: absolute;
    top: 45px;
    content: "";
    width: 58px;
    height: 1px;
    border: 2px solid #2196f3;
    border-radius: 2px;
  }
  & a:hover::before,
  & a:active::before,
  & a:focus::before {
    display: block;
  }
  &__agencja-active a {
    color: var(--brand-color);
  }
  &__agencja-active a::after {
    position: absolute;
    top: 45px;
    content: "";
    width: 58px;
    height: 1px;
    border: 2px solid #2196f3;
    border-radius: 2px;
  }
  &__portfolio-active a::after {
    position: absolute;
    top: 45px;
    content: "";
    width: 58px;
    height: 1px;
    border: 2px solid #2196f3;
    border-radius: 2px;
  }
  &__portfolio-active a {
    color: var(--brand-color);
  }
  &-active {
    width: 10px;
    height: 1px;
    border: #2196f3;
    border-radius: 2px;
    position: absolute;
  }
}
.mail-phone-cont {
  display: block;
  justify-content: center;
  align-items: center;
}

.mail-phone--header {
  list-style: none;
  display: block;
  display: flex;
  margin-left: 345px;
  padding: 0px;
  & a {
    padding-right: 0px;
    display: flex;
    fill: #757575;
  }
  & p {
    margin: 0px;
  }
  & li {
    display: inline-flex;
    padding-right: 30px;
  }
  & li:last-child {
    padding: 0px;
  }
  & p:first-child {
    padding-right: 10px;
  }
}
