.footer {
  background-color: #2f303a;
  display: flex;
  justify-content: center;
  margin: auto;
  @include mq(phone, max) {
    width: 480px;
  }
  @include mq(phone) {
    width: 768px;
  }
  @include mq(desktop) {
    width: auto;
  }
  @include mq(desktop) {
    height: 252px;
    margin: 0px;
  }

  &__address {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    font-weight: 400;
    padding: 20px 1px 0px 0px;
    margin: 0px;
    display: block;
    letter-spacing: 0.03em;
  }

  &__social-links {
    color: #fff;
    margin-top: 20px;
    @include mq(phone, max) {
      display: flex;
      flex-direction: column;
    }
    @include mq(phone) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    @include mq(desktop) {
      display: flex;
      flex-direction: column;
      margin-left: 70px;
    }
  }
  &__social-links p {
    width: 200px;
    padding-bottom: 20px;
    margin: 0%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    @include mq(phone, max) {
      margin-top: 60px;
      text-align: center;
    }
    @include mq(phone) {
    }
    @include mq(desktop) {
    }
  }
  &__social-links > div > div:nth-child(4) > a {
    margin: 0px;
  }

  &__email {
    color: #fff;
    @include mq(phone, max) {
      margin-top: 60px;
    }
    @include mq(phone) {
      text-align: center;
      margin-left: 166px;
    }
    @include mq(desktop) {
      text-align: left;
      margin: 0%;
    }
  }
  &__input {
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    margin-top: 20px;
    color: #fff;
    padding-left: 20px;
    outline: none;
    @include mq(phone, max) {
      width: 450px;
      height: 50px;
    }
    @include mq(phone) {
      width: 450px;
      height: 50px;
    }
    @include mq(desktop) {
      width: 358px;
      height: 50px;
    }
  }
  &__input:focus {
    border: 1px solid white;
  }
  &__email svg {
    margin-left: 24px;
  }

  &__email form {
    @include mq(phone, max) {
      text-align: center;
    }
    @include mq(phone) {
    }
    @include mq(desktop) {
      display: flex;
      align-items: flex-end;
      padding-top: 12px;
      margin-left: 69px;
    }
  }
  &__conrainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include mq(phone, max) {
    }
    @include mq(phone) {
      margin: 0px 144px 60px 76px;
    }
    @include mq(desktop) {
      margin: 0%;
    }
  }
}

.social-footer {
  display: flex;
}
.container-footer {
  @include mq(phone, max) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @include mq(phone) {
    display: flex;
    flex-wrap: wrap;
  }
  @include mq(desktop) {
    display: block;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 60px;
  }
}
