.footer {
  background-color: #2f303a;
  height: 252px;
  margin: 0px;
  display: flex;
  justify-content: center;
  max-width: 1600px;
  margin: auto;
  &__address {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    font-weight: 400;
    padding: 20px 1px 0px 0px;
    margin: 0px;
    display: block;
    letter-spacing: 0.03em;
  }

  &__social-links {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    flex-wrap: wrap;
    margin-top: 12px;
  }
  &__social-links p {
    width: 200px;
    padding-bottom: 20px;
    margin: 0%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
  }
  &__social-links > div > div:nth-child(4) > a {
    margin: 0px;
  }

  &__email {
    color: #fff;
  }
  &__input {
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    margin-top: 20px;
    color: #fff;
    padding-left: 20px;
    outline: none;
  }
  &__input:focus {
    border: 1px solid white;
  }
  &__email svg {
    margin-left: 24px;
  }

  &__email form {
    display: flex;
    align-items: flex-end;
    padding-top: 12px;
    margin-left: 69px;
  }
}

.social-footer {
  display: flex;
}
.container-footer {
  display: block;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 60px;
}
